
body {
    font-family: Arial, sans-serif;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden; /* Disable horizontal scrolling */
}

footer {
    background-color: #002b7f;
    color: #f9dc3c;
    padding: 1em;
    text-align: center;
}

header {
    background-image: url('assets/images/header2.jpeg'); /* Replace with the URL of your image */
    background-size: cover; /* Ensures the full image is shown */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}
.text-container {
    background-color: rgba(0, 43, 92, 0.8); /* Oregon blue with 80% opacity */
    color: #FFD700; /* Oregon yellow for text */
    text-align: center;
    padding: 20px;
}

button {
    background-color: #f9dc3c;
    border: none;
    padding: 10px;
    color: #002b7f;
    cursor: pointer;
    border-radius: 10px;
}

#show-details, #vendor-registration, #facebook-feed {
    margin: 20px;
    padding: 15px;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack the title above the content */
    align-items: center; /* Center align the items within the block */
    text-align: center; /* Ensure text inside the block is also centered */
}

#facebook-feed iframe {
    width: 100%;
    max-width: 350px;
    height: 500px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ccc;
    }
    header, footer {
        background-color: #333;
        color: #f9dc3c;
    }
}
