h1 {
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    color: #002b7f;
}

body {
    font-family: Arial, sans-serif;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden; 
    background-color: #f4f8fb;
}

header {
    background-image: url('../assets/images/header.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: bottom; 
}
.text-container {
    background-color: rgba(0, 43, 92, 0.8); 
    color: #FFD700; 
    text-align: center;
    padding: 20px;
}

.button-container {
    flex-direction: row; /* Buttons in a row by default */
    gap: 5px; /* Space between buttons */
}

.button-container button {
    padding: 10px 10px; /* Add padding around buttons */
    font-size: 16px; /* Ensure consistent font size */
    margin: 10px; /* Optional: Add margin for extra space */
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column; /* Stack buttons vertically */
    }

    .button-container button {
        margin: 0 0 5px 0; /* Ensure spacing when stacked */
    }
}


footer {
    background-color: #002b7f; /* Dark blue background */
    color: #f9dc3c;           /* Yellow text */
    padding: 1em;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em; /* Space between logo and text */
}

.footer-logo {
    width: 50px; /* Adjust for desired size */
    height: 50px;
    border-radius: 8px; /* Slightly rounded corners */
    object-fit: scale-down; /* Ensures the logo maintains proportions */
}


button {
    background-color: #f9dc3c;
    border: none;
    padding: 10px;
    color: #002b7f;
    cursor: pointer;
    border-radius: 10px;
}

#show-details, #vendor-registration {
    margin: 20px;
    padding: 15px;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack the title above the content */
    align-items: center; /* Center align the items within the block */
    text-align: center; /* Ensure text inside the block is also centered */
}
#registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

#desktop-facebook iframe {
    width: 350px;
    height: 500px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ccc;
    }
    h2 {
        color: #f9dc3c;
    }
    header, footer {
        background-color: #333;
        color: #f9dc3c;
    }
}